.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: rgb(57, 88, 83);
  color: white;
}

.links {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
